.new-post-list {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #000;
  }

  .category-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-button {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    color: rgb(109, 109, 109);
  }

  .category-button.active {
    border-bottom-color: #000;
    color: #000;
  }
  
  .category-select-container {
    margin-bottom: 10px;
    background: none;
    border: none;
  }
  
  .category-select {
    padding: 5px;
    font-size: 14px;
  }

  .top-banner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    margin-top: 20px;
  }
  
  .pagination-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .page-button {
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
  }

  .category-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .category-text p {
    margin: 3px auto;
    font-size: 20px;
    font-weight: bold;
  }
  
  .page-button:disabled {
    color: #777777;
    cursor: not-allowed;
  }
  
  .search-container {
    margin-bottom: 10px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 14px;
    width: 280px;
    height: 32px;
  }
  
  .write-button-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .write-button {
    background-color: #363636;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  
.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.post-container {
  border-bottom: 1px solid #bebebe;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.post-container:hover {
  background-color: #e6e6e6;
}

.index, .title, .author, .category, .date {
  display: block;
}

.index {
  width: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.date {
  margin-right: 10px;
  color: #777777;
}

.category {
  margin-left: 7px;
}

.post-content-container {
  width: 95%;
  display: flex;
  flex-direction: column;
}

  .post-top-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
  }

  .post-bottom-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-size: 14px;
    color: #777777;
  }