.wholeMainBox{
    width: 1700px;
    height: 1800px;
    background-color: #fdfdfd;
}

.searchMainBox {
    width: 75%;
    height: 30%; 
    margin: 0 auto;
    border-top: hidden;
    border-bottom: hidden;
    border-left: 10px solid;
    border-right: 10px solid;
    border-image: linear-gradient(to bottom,  #fff 0%, #fff 30%,  #343434 55%, #fff 80%, #fff 100%) 1;
}

.searchInMain {
    width: 60%; 
    height: 10%;
    margin: 10% auto;
    border: solid 8px black;
}

.searchMainBar{
    width: 99.5%; 
    height: 100%;
    border: none;
    text-align: center; 
    outline: none;
    font-size: 24px;
}

.categoriesInMain{
    display: flex;
    width: 100%;
    height: 50%;
}

.categoryInMain{
    width: 16%;
    height: 80%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    transform: rotate(3deg);
    background-color: #efefef;
}

.catePic{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid black;
    background-color: #cdcdcd;
    box-shadow: 0px 10px 30px rgba(122, 122, 122, 0.2);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.categoryInMain:hover > .catePic{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    cursor: pointer;
    border: 1px outset black;
    background-color: #454545;
    color:#efefef;
}

.categoryInMain:hover{
    background-color: #bcbcbc;
    box-shadow: 0px 10px 30px rgba(122, 122, 122, 1);
}


.searchMainBar::placeholder {
    font-weight: bold;
    font-size: 15px;
}

.recentRequestBox{
    width: 75%;
    height: 40%;
    margin: 0 auto;
    background-color: #343434;
    border: 10px solid #232323;
    border-radius: 0px 100px 0px 0px;
    filter: brightness(90%);
    
}

.recentRequestText{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #454545;
    border-radius: 0px 100px 0px 0px;
    text-decoration: underline; 
    font-style: italic; 
    background: linear-gradient(to right, #343434 0%, #343434 30%,  #fff 50%, #343434 70%, #343434 100%);
}

.requestMainBar{
    display: flex;
    width: 99.7%;
    height: 90%;
    border: 2px solid black;
    border-radius: 0px 100px 0px 0px;
    border-style: dashed;
    background-color: #efefef;
    margin-top: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

.requestInMain{
    width:33%;
    margin: 0 auto;
    justify-content: center;
    text-align: center; 
}

.requestInMain :hover {
    cursor: pointer;
    text-decoration: underline 3px; 
}

.requestInMainInfo{
    width: 419px;
    position: relative;
    justify-content: center;
    margin-top: -80px;
}


.requestInMainName{
    justify-content: center;
    text-align: center; 
    height: 20px;
}

.requestCon{
    position: relative;
    justify-content: center;
}

