.manager-mypage-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 6px 12px;
}

.title-header {
    border-top: 2px solid transparent;
    border-color: #777;
    padding-top: 10px;
    padding-top: 10px;
}

.report-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 40%;
    border: 1px solid transparent;
    border-color: #777;
}

.report-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.report-accused {
    margin: 0;
    margin-right: auto;
}

.report-category {
    margin: 0;
    margin-left: auto;
}

.report-body {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.report-content-btn {
    margin: 0;
    margin-right: auto;
    cursor: pointer;
}

.report-content-container {
    border: 1px solid transparent;
    border-color: #777;
    padding: 2px 5px;
}

.report-content { 
    text-align: left;
    margin: 1px 0;
}

.report-btn-container {
    display: flex;
    margin: 5px 0;
    margin-left: auto;
}

.user-ban-btn {
    width: fit-content;
    background-color: rgb(201, 83, 83);
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    color: #eee;
    margin-left: auto;
    padding: 2px 8px;
}

.complete-btn {
    width: fit-content;
    border: 1px solid #777;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
    padding: 2px 8px;
    margin: 0 5px;
}