.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.box{
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    height: 200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.admitContainer {
    overflow-y: scroll;
    max-height: 70vh;
    
}

.agree_check_text_list{
    width: 1000px;
    margin: 0 auto;
}

.agree_ok_btn{
    margin-left: 1300px;
}