.wholeBox{
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 220px;
}

.findBox{
    display: flex;
    width: 101.3%;
    height: 50px;
}

.selected{
    width: 100%;
    height: 100%;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: none;
    overflow: hidden;
}

.selected:hover{
   cursor: pointer;
}

.selected:active{
    background-color: gainsboro;
}

.notSelected{
    width: 100%;
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
    background-color: gainsboro;
    box-sizing: border-box; /* border를 포함한 크기로 width 설정 */
}

.notSelected:hover{
    cursor: pointer;
}

.notSelected:active{
    background-color: gainsboro;
}

.findId{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 2px  black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    background-color: rgb(248, 248, 248); 
}

.findPw{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    background-color: rgb(248, 248, 248);
}


.check{
    width: 40%;
    height: 30px;
    margin-top: 20px;
    background-color: gray;
    border-color: black;
    border: 0.5px solid #000;
    color: white;
}

.check:hover{
    background-color:black;
    cursor: pointer;
}

.inputEmail{
    margin-top: 20px;
}

.inputId{
    margin-top: 10px;
}